In [4]:
import pandas as pd

In [2]:
import matplotlib as plt

In [12]:
x = [1, 2, 3]
y = [1, 4, 9]
z = [10, 5, 0] 
plt.plot(x, y)
plt.plot(x, z)
plt.title("test plot")
plt.xlabel("x")
plt.ylabel("y and z")
plt.legend(["this is y", "this is z"])

NameError: name 'plt' is not defined

In [3]:
sample_data = pd.read_csv('sample_data.csv')

NameError: name 'pd' is not defined

In [11]:
sample_data

   column_a  column_b  column_c
0         1         1        10
1         2         4         8
2         3         9         6
3         4        16         4
4         5        25         2

In [5]:
type(sample_data)

pandas.core.frame.DataFrame

In [6]:
sample_data.column_c

0    10
1     8
2     6
3     4
4     2
Name: column_c, dtype: int64

In [9]:
sample_data.column_c.iloc[2]

6

In [11]:
plt.plot(sample_data.column_a, sample_data.column_b)
plt.plot(sample_data)

NameError: name 'plt' is not defined

In [8]:
import matplotlib as plt

ModuleNotFoundError: No module named 'matplotlib'

In [9]:
sample_data.column_c

NameError: name 'sample_data' is not defined